@font-face {
    font-family: 'Arcade Normal';
    src: url('ArcadeNormal.woff2') format('woff2'),
        url('ArcadeNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'True Crimes';
    src: url('TrueCrimes.woff2') format('woff2'),
        url('TrueCrimes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

