/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  background-color: #000;
  color: #fff;
}
.layout {
  position: relative;
  background-image: url(/images/background@2x.png);
  background-size: contain;
  width: 1280px;
  height: 723px;
  margin: auto;
}
.items {
  position: absolute;
  left: 0;
  top: 0;
}
.items > .item {
  font-family: 'Arcade Normal';
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #333;
  width: 568px;
}
.items > .item > img {
  width: 150px;
  margin-right: 12px;
}
.items > .item > .info {
  flex-grow: 1;
}
.items > .item > .info > h2 {
  font-size: 20px;
  line-height: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.items > .item > .info > h3 {
  line-height: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.items > .item > .info > .progress {
  position: relative;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #8E8E8E;
  text-align: center;
  padding: 8px 0;
}
.items > .item > .info > .progress > .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 20px;
}
.disk {
  position: absolute;
  left: 634px;
  top: 38px;
  width: 460px;
}
.disk > img {
  width: 100%;
}
.bar-container {
  position: absolute;
  left: 1050px;
  top: 70px;
}
.bar-container > .slot {
  position: absolute;
  left: 30px;
  top: 50px;
}
.mint-form {
  position: absolute;
  left: 840px;
  top: 540px;
  color: #000;
  font-family: 'True Crimes';
  font-size: 30px;
}
.mint-form > .mint-button {
  margin-top: 30px;
  padding: 5px 0;
  display: block;
  background: rgba(255, 247, 150, 0.66);
  color: #FFC400;
  text-align: center;
}

